# 인덱스 조작

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
np.random.seed(2022)
data = np.vstack([list('ABCDE'), np.random.rand(3,5).round(2)])
data

array([['A', 'B', 'C', 'D', 'E'],
       ['0.01', '0.5', '0.11', '0.05', '0.69'],
       ['0.49', '0.9', '0.65', '0.9', '0.72'],
       ['0.83', '0.83', '0.83', '0.96', '0.37']], dtype='<U32')

In [4]:
data.T

array([['A', '0.01', '0.49', '0.83'],
       ['B', '0.5', '0.9', '0.83'],
       ['C', '0.11', '0.65', '0.83'],
       ['D', '0.05', '0.9', '0.96'],
       ['E', '0.69', '0.72', '0.37']], dtype='<U32')

In [12]:
df = pd.DataFrame(data.T, columns='C1, C2, C3, C4'.split())
df

  C1,   C2,   C3,    C4
0   A  0.01  0.49  0.83
1   B   0.5   0.9  0.83
2   C  0.11  0.65  0.83
3   D  0.05   0.9  0.96
4   E  0.69  0.72  0.37

In [13]:
df2 = df.set_index('C1')
df2

KeyError: ignored

In [11]:
df.set_index('C1', inplace=True)
df

KeyError: ignored

In [14]:
df.index.name = 'Index'
df

      C1,   C2,   C3,    C4
Index
0       A  0.01  0.49  0.83
1       B   0.5   0.9  0.83
2       C  0.11  0.65  0.83
3       D  0.05   0.9  0.96
4       E  0.69  0.72  0.37

In [15]:
df.reset_index(inplace=True)
df

   Index C1,   C2,   C3,    C4
0      0   A  0.01  0.49  0.83
1      1   B   0.5   0.9  0.83
2      2   C  0.11  0.65  0.83
3      3   D  0.05   0.9  0.96
4      4   E  0.69  0.72  0.37

In [16]:
# 계 행을 삭제
# 구분 열을 인덱스로 변경하고 이름도 자치구로 변경
cctv.drop([0], inplace=True)
cctv.set_Index