In [ ]:
import numpy as np
import pandas as pd

# 【문항 1】 서울시 열린데이터 광장에서 자치구 년도별 CCTV 설치현황 자료를 다운로드 한 후 다음 프로그램을 작성하시오.

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving 서울시CCTV설치운영현황(자치구)_년도별_211231기준.csv to 서울시CCTV설치운영현황(자치구)_년도별_211231기준.csv

### 1. 데이터 파일 읽기

In [ ]:
df = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_211231기준.csv', skiprows=1, encoding='CP949')
df

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"83,557","4,812","1,851","3,434","4,295","6,840","8,708","11,572","10,627","12,267","11,247","7,904"
1,종로구,"1,715",815,NaN,NaN,195,150,0,261,85,9,200,0
2,중 구,"2,447",16,114,87,77,236,240,372,386,155,361,403
3,용산구,"2,611",34,71,234,125,221,298,351,125,307,617,228
4,성동구,"3,829",163,144,208,107,325,255,967,415,490,472,283
5,광진구,"3,211",35,57,100,187,98,52,675,465,712,175,655
6,동대문구,"2,628",4,0,14,16,115,804,814,201,218,223,219
7,중랑구,"3,737",346,21,253,72,132,155,153,174,1049,934,448
8,성북구,"4,602",81,78,170,229,322,594,890,867,714,253,404
9,강북구,"3,090",8,0,22,61,124,251,29,391,1078,656,470
10,도봉구,"1,930",128,22,2,145,172,123,129,222,210,184,593
11,노원구,"2,492",0,87,164,77,514,331,175,216,320,387,221
12,은평구,"4,131",14,3,44,332,329,555,403,635,1057,288,471
13,서대문구,"3,055",730,253,155,108,137,223,356,237,343,397,116
14,마포구,"2,496",23,19,40,112,185,478,365,373,494,299,108
15,양천구,"3,650",71,174,158,134,246,424,577,837,312,346,371
16,강서구,"2,744",54,122,104,202,199,168,506,259,457,356,317
17,구로구,"4,608",852,216,349,187,268,326,540,488,434,415,533
18,금천구,"2,411",0,0,174,80,361,133,196,539,367,513,48
19,영등포구,"4,056",572,136,238,123,209,248,311,658,65,1213,283
20,동작구,"2,306",41,24,25,503,128,253,271,300,322,419,20
21,관악구,"5,149",440,84,431,439,609,622,688,674,595,331,236
22,서초구,"4,082",8,73,79,70,562,504,1041,417,339,433,556
23,강남구,"6,871",69,67,66,580,830,1293,988,745,791,926,516
24,송파구,"2,897",40,59,90,85,214,176,241,541,1073,235,143
25,강동구,"2,809",268,27,227,49,154,202,273,377,356,614,262

### 2. Null data 있는지 확인하고 0으로 대체하기

In [ ]:
df = pd.DataFrame(df)
df = df.fillna(0)
df

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"83,557","4,812","1,851","3,434","4,295","6,840","8,708","11,572","10,627","12,267","11,247","7,904"
1,종로구,"1,715",815,0,0,195,150,0,261,85,9,200,0
2,중 구,"2,447",16,114,87,77,236,240,372,386,155,361,403
3,용산구,"2,611",34,71,234,125,221,298,351,125,307,617,228
4,성동구,"3,829",163,144,208,107,325,255,967,415,490,472,283
5,광진구,"3,211",35,57,100,187,98,52,675,465,712,175,655
6,동대문구,"2,628",4,0,14,16,115,804,814,201,218,223,219
7,중랑구,"3,737",346,21,253,72,132,155,153,174,1049,934,448
8,성북구,"4,602",81,78,170,229,322,594,890,867,714,253,404
9,강북구,"3,090",8,0,22,61,124,251,29,391,1078,656,470
10,도봉구,"1,930",128,22,2,145,172,123,129,222,210,184,593
11,노원구,"2,492",0,87,164,77,514,331,175,216,320,387,221
12,은평구,"4,131",14,3,44,332,329,555,403,635,1057,288,471
13,서대문구,"3,055",730,253,155,108,137,223,356,237,343,397,116
14,마포구,"2,496",23,19,40,112,185,478,365,373,494,299,108
15,양천구,"3,650",71,174,158,134,246,424,577,837,312,346,371
16,강서구,"2,744",54,122,104,202,199,168,506,259,457,356,317
17,구로구,"4,608",852,216,349,187,268,326,540,488,434,415,533
18,금천구,"2,411",0,0,174,80,361,133,196,539,367,513,48
19,영등포구,"4,056",572,136,238,123,209,248,311,658,65,1213,283
20,동작구,"2,306",41,24,25,503,128,253,271,300,322,419,20
21,관악구,"5,149",440,84,431,439,609,622,688,674,595,331,236
22,서초구,"4,082",8,73,79,70,562,504,1041,417,339,433,556
23,강남구,"6,871",69,67,66,580,830,1293,988,745,791,926,516
24,송파구,"2,897",40,59,90,85,214,176,241,541,1073,235,143
25,강동구,"2,809",268,27,227,49,154,202,273,377,356,614,262

### 3. 1000 단위 구분기호 없애고 정수로 변환하기

In [ ]:
df['총계'] = df['총계'].apply(lambda x: int(x.replace(',','')))
df.head(3)

KeyError: ignored

### 4. 2021년을 제외한 최근 3개년간의 CCTV 증가율 구하기

In [ ]:
df.describe()

       구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
count                                                  26
unique                                                 26
top     계,"83,557","4,812","1,851","3,434","4,295","6,...
freq                                                    1

In [ ]:
df.columns

Index(['구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년'], dtype='object')

In [ ]:
df.['2017년', '2018년', '2019년'].sum() / ['2021년']

SyntaxError: ignored

### 5. 구분, 총계, 최근증가율 컬럼만 추출하기

### 6. 컬럼명을 구별, CCTV댓수로 변경하기

In [ ]:
df.columns

Index(['구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년'], dtype='object')

In [ ]:
df.columns = ['구별', 'CCTV댓수']
df.columns

In [ ]:
df.rename(columns={'구분':'구별'}, {'계':'CCTV댓수'}, inplace=True)
df

SyntaxError: ignored

### 7. 구 이름에서 공백지우기

In [ ]:
df['구분_strip'] = df['구분'].str.strip()
df

KeyError: ignored

### 8. 첫 번째행(계) 지우기

In [ ]:
df4 = df.drop(1, axis=0)
df4

KeyError: ignored

# 【문항 2】서울시 통계서비스에서 주민등록인구(구별) 통계를 다운로드한 후 다음 프로그램을 작성하시오.

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving 서울시인구.txt to 서울시인구.txt

### 1. 데이터 파일 읽기

In [ ]:
df2 = pd.read_table('서울시인구.txt', skiprows=1, encoding='utf-8')
df2

,기간,자치구,세대,합계,합계.1,합계.2,한국인,한국인.1,한국인.2,등록외국인,등록외국인.1,등록외국인.2,세대당인구,65세이상고령자
0,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
1,2021,합계,"4,426,007","9,736,027","4,721,977","5,014,050","9,509,458","4,618,040","4,891,418","226,569","103,937","122,632",2.15,"1,605,416"
2,2021,종로구,"73,494","153,789","74,186","79,603","144,683","70,183","74,500","9,106","4,003","5,103",1.97,"27,818"
3,2021,중구,"63,519","131,787","64,083","67,704","122,499","59,630","62,869","9,288","4,453","4,835",1.93,"24,392"
4,2021,용산구,"111,036","237,285","115,085","122,200","222,953","107,210","115,743","14,332","7,875","6,457",2.01,"39,070"
5,2021,성동구,"134,233","292,672","142,259","150,413","285,990","139,380","146,610","6,682","2,879","3,803",2.13,"46,380"
6,2021,광진구,"167,949","352,627","169,317","183,310","339,996","164,058","175,938","12,631","5,259","7,372",2.02,"51,723"
7,2021,동대문구,"168,219","352,006","172,162","179,844","337,400","166,646","170,754","14,606","5,516","9,090",2.01,"62,211"
8,2021,중랑구,"185,712","391,885","192,903","198,982","387,350","191,112","196,238","4,535","1,791","2,744",2.09,"71,682"
9,2021,성북구,"195,017","440,142","211,150","228,992","430,528","207,578","222,950","9,614","3,572","6,042",2.21,"74,709"
10,2021,강북구,"144,536","302,563","146,984","155,579","299,182","145,705","153,477","3,381","1,279","2,102",2.07,"64,333"
11,2021,도봉구,"138,656","319,373","155,221","164,152","317,366","154,487","162,879","2,007",734,"1,273",2.29,"64,160"
12,2021,노원구,"217,378","514,946","247,813","267,133","510,956","246,053","264,903","3,990","1,760","2,230",2.35,"88,345"
13,2021,은평구,"214,711","477,173","228,024","249,149","473,307","226,458","246,849","3,866","1,566","2,300",2.2,"87,241"
14,2021,서대문구,"143,647","315,659","149,507","166,152","304,819","145,694","159,125","10,840","3,813","7,027",2.12,"54,268"
15,2021,마포구,"179,861","378,686","177,233","201,453","368,905","173,504","195,401","9,781","3,729","6,052",2.05,"54,582"
16,2021,양천구,"181,404","450,487","220,537","229,950","447,302","219,214","228,088","3,185","1,323","1,862",2.47,"68,627"
17,2021,강서구,"271,175","579,768","278,720","301,048","574,315","276,292","298,023","5,453","2,428","3,025",2.12,"92,558"
18,2021,구로구,"180,929","421,163","208,873","212,290","396,754","195,537","201,217","24,409","13,336","11,073",2.19,"72,611"
19,2021,금천구,"117,595","244,891","124,110","120,781","230,811","116,527","114,284","14,080","7,583","6,497",1.96,"41,041"
20,2021,영등포구,"187,020","400,908","198,740","202,168","376,837","185,926","190,911","24,071","12,814","11,257",2.01,"62,516"
21,2021,동작구,"184,812","394,364","190,241","204,123","385,483","186,426","199,057","8,881","3,815","5,066",2.09,"66,613"
22,2021,관악구,"276,597","499,449","250,058","249,391","485,699","243,991","241,708","13,750","6,067","7,683",1.76,"79,871"
23,2021,서초구,"170,244","416,167","198,914","217,253","412,279","197,034","215,245","3,888","1,880","2,008",2.42,"60,678"
24,2021,강남구,"234,233","537,800","257,280","280,520","533,042","255,047","277,995","4,758","2,233","2,525",2.28,"78,226"
25,2021,송파구,"282,417","663,965","319,895","344,070","658,338","317,346","340,992","5,627","2,549","3,078",2.33,"97,691"
26,2021,강동구,"201,613","466,472","228,682","237,790","462,664","227,002","235,662","3,808","1,680","2,128",2.29,"74,070"

### 2. Null data 있는지 확인하기

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   기간        27 non-null     object
 1   자치구       27 non-null     object
 2   세대        27 non-null     object
 3   합계        27 non-null     object
 4   합계.1      27 non-null     object
 5   합계.2      27 non-null     object
 6   한국인       27 non-null     object
 7   한국인.1     27 non-null     object
 8   한국인.2     27 non-null     object
 9   등록외국인     27 non-null     object
 10  등록외국인.1   27 non-null     object
 11  등록외국인.2   27 non-null     object
 12  세대당인구     27 non-null     object
 13  65세이상고령자  27 non-null     object
dtypes: object(14)
memory usage: 3.1+ KB

In [ ]:
df2.isnull()

,기간,자치구,세대,합계,합계.1,합계.2,한국인,한국인.1,한국인.2,등록외국인,등록외국인.1,등록외국인.2,세대당인구,65세이상고령자
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df2.isnull().sum()

기간          0
자치구         0
세대          0
합계          0
합계.1        0
합계.2        0
한국인         0
한국인.1       0
한국인.2       0
등록외국인       0
등록외국인.1     0
등록외국인.2     0
세대당인구       0
65세이상고령자    0
dtype: int64

### 3. '자치구', '계', '계.1', '계.2', '65세이상고령자‘ 컬럼만 추출하기

In [ ]:
df2 = df2[['자치구', '계', '합계1', '합계2', '65세이상고령자']]

KeyError: ignored

### 4. 컬럼명을 '구별', '인구수', '내국인', '외국인', '고령자'로 변경하기

In [ ]:
df2.columns

Index(['기간', '자치구', '세대', '합계', '합계.1', '합계.2', '한국인', '한국인.1', '한국인.2',
       '등록외국인', '등록외국인.1', '등록외국인.2', '세대당인구', '65세이상고령자'],
      dtype='object')

In [ ]:
df2.rename = (columns={'자치구':'구별'}, {'합계':'인구수'}, {'한국인':'내국인'}, {'등록외국인':'외국인'}, {'65세이상고령자':'고령자'}, inplace=True)
df2

SyntaxError: ignored

### 5. 1000 단위 구분기호 없애고 정수로 변환하기

In [ ]:
df2['총계'] = df['총계'].apply(lambda x: int(x.replace(',','')))
df2.head(3)

### 6. 첫번째 행(합계행) 지우기

In [ ]:
df2.shape

(27, 14)

In [ ]:
df3 = df2.drop(1, axis=0)
df3

KeyError: ignored

### 7. '외국인비율‘과 '고령자비율‘ 컬럼 만들기

In [ ]:
df2[['외국인비율', '고령자비율']]

KeyError: ignored

### 8. 구 이름에 공백이 있으면 공백지우기

In [ ]:
df2['자치구_strip'] = df['자치구'].str.strip()
df2

KeyError: ignored

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%%shell
jupyter nbconvert --to html /content/drive/MyDrive/"Colab Notebooks"/u_미니프로젝트.ipynb

[NbConvertApp] Converting notebook /content/drive/MyDrive/Colab Notebooks/u_미니프로젝트.ipynb to html
[NbConvertApp] Writing 418850 bytes to /content/drive/MyDrive/Colab Notebooks/u_미니프로젝트.html